//== Third party styles
@import "./vendor.scss";
//== Bootstrap
@import "./shared/styles/bootstrap.scss";
//== Application
@import "./shared/styles/app.scss";

@import "./shared/styles/bootstrap/_functions.scss";
@import "./shared/styles/bootstrap/_variables.scss";
@import "./shared/styles/bootstrap/_mixins";
@import './shared/styles/app/variables.scss';

// Import module styling
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 5px;
}

fieldset {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.container-fluid .row > [class^=col-xl] {
	padding-right: 0px;
	padding-left:  0px;
	vertical-align: middle;
}

.container-fluid .row > .col-form-label {
	margin-left:   15px;
	margin-right: -15px;
	width: calc(100% - 275px);
}

.grid-fluid .row > .col,
.grid-fluid .row > [class^=col-] {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: rgba(241, 242, 243, .15);
    border: 1px dashed rgba(0, 0, 0, .15);
}

.ng-select.ng-select-multiple {
    position: absolute;
    width: 100%;
}

.ng-select.ng-select-multiple .ng-select-container {
    width: calc(100% - 4px);
}    

.col-form-label {
	white-space: nowrap;
}

.btn-pill-right, .btn-oval {
    padding-right: calc(100% - 60px);
}

@media (max-width: 576px) {
	.ng-select.ng-select-multiple {
    	position: relative;
	}

	.ng-select.ng-select-multiple .ng-select-container {
    	width: 100%;
	}   
}

/* Fix header text placement */
.bs-datepicker-head > bs-datepicker-navigation-view {
    display: flex;
    justify-content: space-around;
}

/* Custom Theme */
.theme-angle {
    .bs-datepicker-head {
        background-color: $info;
    }
    .bs-datepicker-body table td {
        span.selected, &.selected span,
        span[class*="select-"]:after,
        &[class*="select-"] span:after {
            background-color: $info;
        }
        &.week span {
          color: $info;
        }
    }
}

.wrapper .section-container, .wrapper .footer-container {
    margin-left: 0px;
}

.ag-angle .ag-header {
    border-top: 2px solid #e4eaec;
    border-bottom: 2px solid #e4eaec;
}

.ag-angle .ag-row-hover{
    background-color: #1adbea;
}

.ag-angle .ag-cell {
    padding: 0px 0px;
}

.ag-row-focus {
    z-index: 0;
}

.btn-lg {
    padding: 0.625rem 0.625rem;
    width: 100%
}